{% extends 'restaurantdb/index.html' %}

{% block title %}Edit tag{% endblock %}

{% block subcontent %}

<div class="row">
    <div class="col-auto"><h1>Edit tag</h1></div>
</div>
<br>

<form action="" method="post">
    {{ form.csrf_token }}
    <div class="row row-cols-1 g-4">
        <div class="col col-sm-6">
            <div class="row row-cols-1 g-2">
                <div class="col">{{ form.tag(class='form-control', placeholder='Type a new tag') }}</div>
                <div class="col">{{ messageFlasher() }}</div>
            </div>
        </div>
        <div class="col">
            <div class="row g-2">
                <div class="col-auto">{{ form.submit(class='btn btn-primary') }}</div>
                <div class="col-auto">
                    <a class="btn btn-primary" href="{{ url_for('restaurantdb.tag', tag_id=tag.id) }}">Cancel</a>
                </div>
            </div>
        </div>
    </div>
</form>
{% endblock %}