<!-- Create a section of tags, given a record -->
{% macro createTagsSection(record, align_start=True) %}
<div class="row">
    {% if align_start %}
    {% set align = 'ps-0' %}
    {% else %}
    {% set align = 'pe-0' %}
    {% endif %}
    {% for tag in record.tags|sort(attribute='tag') %}
        <div class="col-auto {{ align }} pb-1">
            <a class="text-decoration-none" href="{{ url_for('restaurantdb.tag', tag_id=tag.id)}}">{{ tag.tag }}</a>
        </div>
    {% endfor %}
    {% if record.avoid %}
        <div class="col-auto {{ align }} pb-1">
            <a type="btn-link" class="text-decoration-none text-danger" href="{{ url_for('restaurantdb.record_notes', record_id=record.id) }}">avoid</a>
        </div>
    {% endif %}
</div>
{% endmacro %}



{% macro tagRow(tags, align='end', alignempty='end') %}
{% if tags %}
<div class="row justify-content-{{ align }} g-3">
    {% for tag in tags|sort(attribute='tag') %}
    {% set param = {'tag_id': tag.id} %}
    <div class="col-auto">
        <a class="defaultlink" href="{{ url_for('restaurantdb.tag', **param) }}">{{ tag.tag }}</a>
    </div>
    {% endfor %}
</div>
{% else %}
<div class="row justify-content-{{ alignempty }}">
    <div class="col-auto"><p class="defaulttag my-0">None</p></div>
</div>
{% endif %}
{% endmacro %}



{% macro popoverScript() %}
<script>
    const popoverTriggerList = document.querySelectorAll('[data-bs-toggle="popover"]')
    const popoverList = [...popoverTriggerList].map(popoverTriggerEl => new bootstrap.Popover(popoverTriggerEl))
    const popover = new bootstrap.Popover('.popover-dismiss', {
        trigger: 'focus'
    })
</script>
{% endmacro %}


{% macro dateGrid(date, monthfmt='%b', timefmt='%H:%M', dowfmt='%a', multiline=True, singlelinefmt='%b %d, %Y, %H:%M (%a)') %}
{% if multiline %}
<div class="row row-cols-1 g-0">
    <div class="">{{ date.strftime(monthfmt + ' %d, %Y') }}</div>
    <div class="">{{ date.strftime(timefmt) }}</div>
    <div class="">{{ date.strftime(dowfmt) }}</div>
</div>
{% else %}
<div class="row">
    <div class="col">
        {{ date.strftime(singlelinefmt) }}
    </div>
</div>
{% endif %}
{% endmacro %}


{% macro restaurantCard(record) %}
<div class="card h-100">
    <div class="card-header"><h2>Restaurant</h2></div>
    <div class="card-body">
        {% if record %}
        <table class="table">
            <tr>
                <th>Name</th>
                <td class="text-end">
                    <a class="text-decoration-none" href="{{ url_for('restaurantdb.record', record_id=record.id) }}">
                        {{ record.name }}
                    </a>
                </td>
            </tr>
            <tr>
                <th class="align-middle">Tags</th>
                <td class="text-end">{{ tagRow(record.tags, align='end', alignempty='end') }}</td>
            </tr>
            <tr>
                <table class="table table-borderless my-0">
                    <thead>
                        <tr>
                            <th class="pt-0">Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{ record.description|markdown }}</td>
                        </tr>
                    </tbody>
                </table>
            </tr>
        </table>
        {% else %}
        <p class="text-center">No associated restaurant</p>
        {% endif %}
    </div>
</div>
{% endmacro %}



{% macro simpleStatsGrid(statstupleslist) %}
<div class="row row-cols-2 g-2">
    {% for h, d in statstupleslist %}
    <div class="col-8">{{ h }}</div>
    <div class="col-4">{{ d }}</div>
    {% endfor %}
</div>
{% endmacro %}