{% extends 'restaurantdb/index.html' %}
{% from 'macros.html' import createRecordsPage %}

{% block title %}Restaurant Visits{% endblock %}

{% block subcontent %}

<!-- Template to create a table of visits -->
{% macro createVisitsTable() %}
<table class="table">
    <thead>
        <tr>
            <th>Date Visited</th>
            <th></th>
            <th>Meal</th>
            <th>Restaurant</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for visit in paginator %}
        <tr class="">
            <td>
                {{ visit.date.strftime('%a, %b %d, %Y %H:%M') }}
            </td>
            <td>
                {% if visit.comments %}
                {{ badge(txtcolor='dark', bgcolor='info', text='Has comments') }}
                {% endif %}</td>
            <td>{{ visit.meal }}</td>
            <td>{{ visit.record.name }}</td>
            <td>
                <div class="row">
                    <div class="col d-flex justify-content-end">
                        <a class="text-decoration-none" href="{{ url_for('restaurantdb.visit', visit_id=visit.id)}}">view</a>
                    </div>
                </div>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endmacro %}

<div class="row justify-content-between align-items-center">
    <div class="col-auto"><h1>Visits</h1></div>
</div>
<br>

<table class="table">
    <thead>
        <tr>
            <th class="col-6 col-sm-2">Date</th>
            <th class="col-2 text-center d-none d-sm-table-cell">Meal</th>
            <th class="col-6 col-sm-7 text-end text-sm-start">Restaurant</th>
            <th class="col-1 text-center d-none d-sm-table-cell">Has comments</th>
        </tr>
    </thead>
    <tbody>
        {% for v in paginator %}
        <tr>
            <td><a class="defaultlink" href="{{ url_for('restaurantdb.visit', visit_id=v.id) }}">{{ v.date.strftime('%b %d, %Y, %H:%M (%a)') }}</a></td>
            <td class="text-center d-none d-sm-table-cell">{{ v.meal }}</td>
            <td class="text-end text-sm-start"><a class="defaultlink" href="{{ url_for('restaurantdb.record', record_id=v.record.id) }}">{{ v.record.name }}</a></td>
            <td class="text-center d-none d-sm-table-cell">{{ checkIcon(v.comments) }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{# set 'disabled' keywords for navigation buttons, as necessary #}
{% set prev_disabled = '' if paginator.has_prev else 'disabled' %}
{% set next_disabled = '' if paginator.has_next else 'disabled' %}

{% set args={} %}
{% if record %}
{% set args = dict(args, **{'restaurant': record.id}) %}
{% endif %}

<div class="row align-items-top">
    <div class="col">
        <nav aria-label="...">
            <ul class="pagination">
                {% set args = dict(args, **{'page': 1}) %}
                <li class="page-item">
                    <a class="page-link {{ prev_disabled }}" href="{{ url_for('restaurantdb.visits', **args)}}">
                        <span class="d-none d-sm-inline">First</span>
                        <span class="d-inline d-sm-none bi-chevron-bar-left"></span>
                    </a>
                </li>
                {% set args = dict(args, **{'page': paginator.prev_num}) %}
                <li class="page-item">
                    <a class="page-link {{ prev_disabled }}" href="{{ url_for('restaurantdb.visits', **args) }}">
                        <span class="d-none d-sm-inline">Prev</span>
                        <span class="d-inline d-sm-none bi-chevron-left"></span>
                    </a>
                </li>
                {% set args = dict(args, **{'page': paginator.next_num}) %}
                <li class="page-item">
                    <a class="page-link {{ next_disabled }}" href="{{ url_for('restaurantdb.visits', **args) }}">
                        <span class="d-none d-sm-inline">Next</span>
                        <span class="d-inline d-sm-none bi-chevron-right"></span>
                    </a>
                </li>
                {% set args = dict(args, **{'page': paginator.pages}) %}
                <li class="page-item">
                    <a class="page-link {{ next_disabled }}" href="{{ url_for('restaurantdb.visits', **args) }}">
                        <span class="d-none d-sm-inline">Last</span>
                        <span class="d-inline d-sm-none bi-chevron-bar-right"></span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
    {% if pagenumber %}
    <div class="col-auto">
        {% if paginator.pages %}
        {{ paginator.page }} of {{ paginator.pages }}
        {% endif %}
    </div>
    {% endif %}
</div>

{% endblock %}