{% extends 'sleepdb/index.html' %}

{% block subtitle %}Edit tag - {{ tag.tag }}{% endblock %}

{% block subcontent %}
<div class="row justify-content-between">
    <div class="col"><h1>Edit {{ tagtype }} tag</h1></div>
</div>
<br>
{% with messages=get_flashed_messages(with_categories=True) %}
{% for category, message in messages %}
<div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
    {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}
{% endwith %}

<form action="" method="post">
    {{ form.csrf_token }}
    <div class="row">
        <div class="col col-md-6">
            {{ form.tag(class='form-control', placeholder='Enter a tag...') }}
        </div>
    </div>
    <br>
    <div class="row g-2">
        <div class="col-auto">{{ form.submit(class='btn btn-primary') }}</div>
        {% set params = {'tagtype': tagtype, 'tagid': tag.id} %}
        <div class="col"><a class="btn btn-primary" href="{{ url_for('sleepdb.tag', **params) }}">Cancel</a></div>
    </div>
</form>
<br>
{% endblock %}